#header {
  width: 100%;
  height: 70px;
  background-color: #f1f2ed;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  padding: 0 1.5vw 0 1.8vw;
  position: fixed;
  top: 0;
}
.logo {
  font-weight: 700;
  font-size: 1.3vw;
}
.nav ul {
  display: flex;
  align-items: center;
}

.nav ul li {
  padding: 0.7vw;
  font-size: 0.8vw;

  a {
    color: #666865;
  }
}

.menu {
  img {
    width: 1.9vw;
  }
}
